body {
    margin: 0;
    background: #0c0c0c;
  }
  
  #app {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
  }
  
  .note {
    height: 200px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgb(238, 234, 234);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
  }
  
  .add-note {
    height: 200px;
    border: solid neon blue ;
    outline: none;
    background: rgb(235, 223, 223);
    border-radius: 10px;
    font-size: 120px;
    color: rgba(1, 0, 0, 0.5);
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .add-note:hover {
    background: rgb(239, 232, 232);
  }

  .textHeader {
    color: rgb(250, 236, 235);
     font-size: 60px;
     text-align:center
 }
 .textPara {
     color: rgb(250, 236, 235);
      font-size: 22px;
      text-align:center
  }
  