* {
    text-align:center;
    font-family:monospace;
   }
.buttonPageSwitch {
   background-color: #333;
   color: rgb(246, 240, 240);
   border: 2px solid transparent; 
   padding: 16px 20px;
   text-align: center;
   border-radius: 17px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.buttonBasic {
    background-color: #333;
    border:2px solid transparent;
    color: rgb(247, 242, 242);
    padding: 12px 16px;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: monospace;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.textHeader {
      color: #000000;
      font-size: xx-large;
      font-family: Courier, monospace;
}
.textPara {
      color: #000000;
      font-size: x-large;
      font-family: Courier, monospace;
 }
 .text404 {
      color: rgb(235, 22, 6);
      font-size: 100px;
      font-family: Courier, monospace;
 }
 .center {
    text-align: center;
 }

 .navBarReg {
   background-color: #333;
   border:2px solid transparent;
   color: #fff;
   padding: 12px 16px;
   display: inline-block;
   font-size: 20px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 12px;
   font-family: monospace;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .navBarReg:hover {
      background-color: #333;
      color: #fff;
      border: 2px solid transparent; 
      padding: 16px 20px;
      text-align: center;
      border-radius: 17px;  
  }
  .navBarSelected {
   background-color: #333;
   border:2px solid transparent;
   color: #ff0000;
   padding: 12px 16px;
   display: inline-block;
   font-size: 20px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 12px;
   font-family: monospace;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }  

  .buttonConvert {
   background-color: rgb(10, 10, 10);
   color: rgb(8, 8, 8);
   border: 3px solid neon rgb(14, 14, 14); 
   padding: 30px 40px;
   text-align: center;
   border-radius: 10px;
   font-size: 18px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.textBox {
   padding: 20px 25px;
   border-radius:10px;
   border: 4px solid neon blue;
}