* {
    text-align: center;
}

.beardie_img {
    width: 40%;
    height: 30%;
    border-radius: 5px;
    border: 3px solid black;
}

.boopText {
    color:black;
    font-family: monospace;
    font-size: 30px;
}

.boopsText2 {
    color:black;
    font-family: monospace;
    font-size: 20px;
}

.boopsbar {
    width:70;
    height:10%;
}

.shopBtn{
    width:15%;
    height:15%;
    border-radius: 8px;
    border: 3px solid blue;
    color:white;
    background-color: black;
    font-family: monospace;
    font-size: 20px;
    padding-top: 5px;
    font-weight:bold;
}


.upgradeBtn{
    width:15%;
    height:15%;
    border-radius: 8px;
    border: 3px solid blue;
    color:white;
    background-color: black;
    font-family: monospace;
    font-size: 20px;
    padding-top: 5px;
    font-weight:bold;
}