body {
    font-family:monospace;
    background-color: white;
  }
  
  #chat-window {
    width: 90%;
    margin: 0 auto;
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    border: 2px solid black;
  }
  
  #chat-messages {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    height: calc(100vh - 200px);
    max-height: calc(100vh - 200px);
    overflow: auto;
  }
  
  #chat-form {
    display: flex;
    align-items: center;
  }
  
  #chat-input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: 3px solid black;
    margin-top:15px;
  }
  
  .bot-message {
    font-family: monospace;
    background-color: white; 
    text-align: justify;
    padding: 15px; 
    margin-top: 10px; 
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border: 3px solid black;
    border-radius: 12px;
  }
  
  .user-message {
    font-family: monospace;
    background-color: white;
    text-align: left; 
    padding: 15px;
    display: flex;
    align-items: center;
    border: 3px solid black;
    border-radius: 12px;
  }
  .loading_message {
    font-family: monospace;
    background-color: white;
    text-align: left; 
    display: flex;
    align-items: center;
    border: 3px solid black;
    border-radius: 12px;
    width:100%;
    height:20px;

  }
  .user-message img {
    width: 40px; 
    height: 40px; 
    margin-right: 20px; 
  }
  .bot-message img {
    width: 40px; 
    height: 40px; 
    margin-right: 20px; 
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
    #chat-window {
      width: 90%;
    }
  }

.text_title {
    font-family: monospace;
    color:white;
    text-align: center;

}

.title_message {
    width: 100%;
    height: 50px;
    background-color: black;
    border: 3px solid blue;
    border-radius: 12px;
}
.textPara {
  color: black;
  font-family: monospace;
  text-align: center;
}

.button{
  background-color: #333;
  border-radius: 10px;
  border: 3px solid transparent;
  color:white;
  font-size: 15px;
  font-family: monospace;
}

.text{
  color: white;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}